/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

form {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
}

input[type=submit] {
  background-color: lightblue;
  margin-top: 36px;
  color: white;
  width: 30%;
}

#article_content {
    height: 200px;
  }

a {
  text-decoration: none;
  color: darkblue;
}

a:hover {
  text-decoration: none;
  color: grey;
}
